<!doctype html>
<html lang="en">

  <head>
    <title>{{_('Haqqında')}}</title>
    {% include "head.html" %}
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  {% include "loader.html" %}

  <div class="site-wrap" id="home-section">

  {% include "menu.html" %}



    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay innerpage" style="background-image: url('{{url_for('static', filename='images/hero_2.webp')}}');">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>{{_('Haqqımızda')}}</h1>
              <p>{{_('
    "ASRENTACAR" Azərbaycanda qeydiyyatdan keçmiş "GOODVEY MMC"-nin (Vöen: 140423121) əmtəə nişanıdır. 2015-ci ildən fəaliyyət göstərən və Azərbaycan Respublikası, Bakı şəhəri, Tiflis prospekti 1058 ünvanında qeydiyyatdan keçmiş "MARSHAL" rent a car şirkəti www.marshal.az onlayn sifariş saytından avtomobil icarəsi, transfer, sürücü və eləcə də turizm xidmətlərini təklif edir.')}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
            <img src="{{url_for('static', filename='images/hero_2.webp')}}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto">
            <h2 class="will-be-white">{{_('Maşın Firması')}}</h2>
            <p class="will-be-white">{{_('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique
              accusantium eius nulla quam laudantium sequi.')}}</p>
            <p class="will-be-white">{{_('Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga
              aliquid delectus cum ipsa?')}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="{{url_for('static', filename='images/hero_1.webp')}}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto">
            <h2 class="will-be-white">{{_('Keçmişimiz')}}</h2>
            <p class="will-be-white">{{_('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique
              accusantium eius nulla quam laudantium sequi.')}}</p>
            <p class="will-be-white">{{_('Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga
              aliquid delectus cum ipsa?')}}</p>
          </div>
        </div>
      </div>
    </div>






  {% include "footer.html" %}

  </div>

  {% include "scrolltop.html" %}

  {% include "scriptler.html" %}

</body>

</html>