<!doctype html>
<html lang="en">

{% include "head.html" %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  {% include "loader.html" %}

  <div class="site-wrap" id="home-section">

    {% include "menu.html" %}

    {% if aCar %}
    {% for car in cars %}
    {% if car['id']==aCar %}
     <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay"
        style="background-image: url('{{ url_for('static',filename='images/hero_1.jpg') }}');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="feature-car-rent-box-1">
                <h3>{{car['car_name']}}</h3>
                <ul class="list-unstyled">
                  <li>
                    <span>Doors</span>
                    <span class="spec">{{car['car_name']}}</span>
                  </li>
                  <li>
                    <span>Seats</span>
                    <span class="spec">{{car['seat']}}</span>
                  </li>
                  <li>
                    <span>Lugage</span>
                    <span class="spec">{{car['bagage']}}2 Bags</span>
                  </li>
                  <li>
                    <span>Transmission</span>
                    <span class="spec">{{car['transmision']}}</span>
                  </li>
                  <li>
                    <span>Year</span>
                    <span class="spec">{{car['year']}}</span>
                  </li>
                </ul>
                <div class="d-flex align-items-center bg-light p-3">
                  <span>${{car['days']['2_3']}}/day</span>
                  <a href="{{ url_for('car',id=car['id'])}}" class="ml-auto btn btn-primary">Rent Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   
      
    {% endif %}
    {% endfor %}
    {% else %}
    
    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay"
        style="background-image: url('{{ url_for('static',filename='images/hero_1.jpg') }}');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="feature-car-rent-box-1">
                <h3>{{cars[0]['car_name']}}</h3>
                <ul class="list-unstyled">
                  <li>
                    <span>Doors</span>
                    <span class="spec">{{cars[0]['car_name']}}</span>
                  </li>
                  <li>
                    <span>Seats</span>
                    <span class="spec">{{cars[0]['seat']}}</span>
                  </li>
                  <li>
                    <span>Lugage</span>
                    <span class="spec">{{cars[0]['bagage']}}2 Bags</span>
                  </li>
                  <li>
                    <span>Transmission</span>
                    <span class="spec">{{cars[0]['transmision']}}</span>
                  </li>
                  <li>
                    <span>Year</span>
                    <span class="spec">{{cars[0]['year']}}</span>
                  </li>
                </ul>
                <div class="d-flex align-items-center bg-light p-3">
                  <span>${{cars[0]['days']['2_3']}}/day</span>
                  <a href="{{ url_for('car',id=car['id'])}}" class="ml-auto btn btn-primary">Rent Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    <div id="show-all" class="container">
      <a href="{{ url_for('cars') }}"><button>Show All Cars</button></a>
    </div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h3>Our Offer</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum
              maxime neque!</p>
            <p>
              <a href="#" class="btn btn-primary custom-prev">Previous</a>
              <span class="mx-2">/</span>
              <a href="#" class="btn btn-primary custom-next">Next</a>
            </p>
          </div>
          <div class="col-lg-9">



            <div class="nonloop-block-13 owl-carousel">

              {% for car in cars %}
              <div class="item-1">
                <a href="#"><img src="{{ url_for('static',filename=car['photo_links']) }}" alt="Image"
                    class="img-fluid"></a>
                <div class="item-1-contents">
                  <div class="text-center">
                    <h3><a href="#">{{car['car_name']}} </a></h3>
                    <div class="rent-price"><span>${{car['days']['2_3']}}/</span>day</div>
                  </div>
                  <ul class="specs">
                    <li>
                      <span>Doors</span>
                      <span class="spec">{{car['doors']}}</span>
                    </li>
                    <li>
                      <span>Seats</span>
                      <span class="spec">{{car['seat']}}</span>
                    </li>
                    <li>
                      <span>Transmission</span>
                      <span class="spec">{{car['transmision']}}</span>
                    </li>
                    <li>
                      <span>Year</span>
                      <span class="spec">{{car['year']}}</span>
                    </li>
                  </ul>
                  <div class="d-flex action">
                    <a href="{{ url_for('car',id=car['id'])}}" class="btn btn-primary">Rent Now</a>
                  </div>
                </div>
              </div>
              {% endfor  %}

             

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section section-3"
      style="background-image: url('{{ url_for('static',filename='images/hero_2.jpg') }}');">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2 class="text-white">Our services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-car-1"></span>
              </span>
              <div class="service-1-contents">
                <h3>Repair</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-traffic"></span>
              </span>
              <div class="service-1-contents">
                <h3>Car Accessories</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-1">
              <span class="service-1-icon">
                <span class="flaticon-valet"></span>
              </span>
              <div class="service-1-contents">
                <h3>Own a Car</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>












    {% include "footer.html" %}

  </div>

  {% include "scrolltop.html" %}

  {% include "scriptler.html" %}

</body>

</html>